
html,
body {
  width: auto;
  height: auto;
  overflow: hidden;
  background: #262b2e;
  font-size: 100%;	
}

#wrapper {
  height:100%;
  width:100%;
  text-align: center;
  display: table;
  position:absolute;
}

#title {
  display: table-cell;
  vertical-align: top;
  z-index: 999;
}

#title h2 {
  color: #fff;
  font-size: 2.813rem;
  font-family: "museo-slab";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  padding: 0; 
  margin-bottom: 0;    
}

#title h3 {
  color: #fff;
  font-size: 1.563rem;
  font-family: "museo-sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;     
  font-weight: 300;
  padding: 0;   
  margin: 10;    
}


#wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto; 
}

#canvas {
  z-index: 1;
}
#canvasbg {
  z-index: -10;
  -webkit-filter: blur(0.188rem);
  -moz-filter: blur(0.188rem);
  -o-filter: blur(0.188rem);
  filter: blur(0.188rem);
  opacity: 0.6;
}

#bodytext {
/*  display: table-cell;*/
  vertical-align: center;
    
    
  z-index: 1000;
  overflow: hidden;
  position: absolute;
    top:50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

        
}

#bodytext h3 {
  color: #fff;
  font-size: 1.875rem;
  font-family: "montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  padding: 0; 
  margin-bottom: 0;  
  text-align: center;    
}

#bodytext p {
    color: #fff;
    font-size: 1rem;
    font-family: 'Fjord One', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    width: 100%;
    text-align: justify;
    text-align-last: left;
	
}

#bodytext #mailtext {
    color: #fff;
    font-size: 1rem;
    font-family: 'Fjord One', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    width: 100%;
    text-align: justify;
    text-align-last: center;
	
}


.row {
   
  position: absolute;
  z-index: 1;
  text-align: center;         
  top: 85%;
  width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
      
      
}
.row:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: auto;
  height: 100%;
  width: auto;
  z-index: -1;
  background: inherit;
}
.row .bottom_text{
    
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Fjord One', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    width: 100%;
    text-align: center;

}



.row span {
  position: relative;
  display: inline-block;
  margin: 1.875rem;
}

.row .gate {
  display: inline-block;
  width: 14.375rem;
  padding: 0.625rem 0 0.625rem 0.938rem;
  font-family: "montserrat";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
  font-weight: 100;
  color: #377D6A;
  background: #efefef;
  border: none;
  border-radius: 0.188rem;
  outline: 0;
  text-indent: 4.063rem;
  transition: all .3s ease-in-out;
}
.gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.gate + label {
  display: inline-block;
  color: #fff;
  font-family: "montserrat";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
  font-size: 1rem;	
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0.938rem;
  text-shadow: 0 0.063rem 0 rgba(19, 74, 70, 0.4);
  background: #7AB893;
  transition: all .4s ease-in-out;
  border-top-left-radius: 0.188rem;
  border-bottom-left-radius: 0.188rem;
  transform-origin: left bottom;
  z-index: 99;
}
.gate + label:before, .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.188rem;
  background: #377D6A;
  transform-origin: left bottom;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.gate + label:before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

span:nth-child(2) .gate {
  text-indent: 5.313rem;
}

span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
  text-indent: 0;
}

span:nth-child(3) .gate {
  text-indent: 5.313rem;
}

span:nth-child(3) .gate:focus,
span:nth-child(3) .gate:active {
  text-indent: 0;
}

.gate:focus,
.gate:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 0.188rem;
  border-bottom-right-radius: 0.188rem;
}
.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
  color: #aaa;
}
.gate:focus + label,
.gate:active + label {
  transform: rotate(-66deg);
  border-radius: 0.188rem;
}
.gate:focus + label:before,
.gate:active + label:before {
  transform: rotate(10deg);
}

button {
  font-size: 0.938rem;
  font-family: "montserrat";
  text-align: center;	
  vertical-align: middle;
  overflow: none;
  outline: none;	
  border-radius: 0.188rem;
/*  position: relative;*/
  padding-right: 1.875rem;
  background-color: #377D6A;
  border: none;
  color: #ffffff;
  height: 2.500rem;	
  width: 12.500rem;
  cursor: pointer;
}

button p {
	margin: 0.625rem;
}

li{
  margin: 10px 0;
}

button:hover {
  background-color: #c76c17;
}


button:hover svg path {
	fill: #377D6A;
}
button svg {
  position: absolute;
  top: 0.563rem;
  right: 1.563rem;
  height: 1.563rem;
  margin: -0.125rem;	
  width: auto;
  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  -ms-transition: -ms-transform 0.15s;
  transition: transform 0.15s;
}
button svg path {
  fill: #c76c17;
}
button.clicked {
  background-color: #c76c17;
  border: none;
  color: #ffffff;
  padding-right: 0.375rem;
  -webkit-animation: bounce-in 0.3s;
  -moz-animation: bounce-in 0.3s;
  -o-animation: bounce-in 0.3s;
  -ms-animation: bounce-in 0.3s;
  animation: bounce-in 0.3s;
  cursor: default;
}
button.clicked svg {
  -webkit-animation: flyaway 1.3s linear;
  -moz-animation: flyaway 1.3s linear;
  -o-animation: flyaway 1.3s linear;
  -ms-animation: flyaway 1.3s linear;
  animation: flyaway 1.3s linear;
  top: -5.000rem;
  right: -62.500rem;
}
button.clicked svg path {
  fill: #6aaa3b;
}
@-moz-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 1.563rem;
    height: 1.875rem;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 0rem;
    height: 1.875rem;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 0.813rem;
    right: -8.125rem;
    height: 2.813rem;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -0.813rem;
    right: -17.500rem;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -12.500rem;
    right: -62.500rem;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 1.563rem;
    height: 1.875rem;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 0rem;
    height: 1.875rem;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 0.813rem;
    right: -8.125rem;
    height: 2.813rem;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -2.500rem;
    right: -17.500rem;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -12.500rem;
    right: -62.500rem;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 1.563rem;
    height: 1.875rem;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 0rem;
    height: 1.875rem;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 0.813rem;
    right: -8.125rem;
    height: 2.813rem;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -2.500rem;
    right: -17.500rem;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -12.500rem;
    right: -62.5rem;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 1.563rem;
    height: 1.875rem;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0.813rem;
    right: 0rem;
    height: 1.875rem;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 0.813rem;
    right: -8.125rem;
    height: 2.813rem;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -2.500rem;
    right: -17.500rem;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -12.500rem;
    right: -62.500rem;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounce-in {
  0% {
    padding-right: 1.875rem;
  }
  40% {
    padding-right: 0.375rem;
  }
  50% {
    padding-left: 1.875rem;
  }
  100% {
    padding-left: 0.375rem;
  }
}
@-webkit-keyframes bounce-in {
  0% {
    padding-right: 1.875rem;
  }
  40% {
    padding-right: 0.375rem;
  }
  50% {
    padding-left: 1.875rem;
  }
  100% {
    padding-left: 0.375rem;
  }
}
@-o-keyframes bounce-in {
  0% {
    padding-right: 1.875rem;
  }
  40% {
    padding-right: 0.375rem;
  }
  50% {
    padding-left: 1.875rem;
  }
  100% {
    padding-left: 0.375rem;
  }
}
@keyframes bounce-in {
  0% {
    padding-right: 1.875rem;
  }
  40% {
    padding-right: 0.375rem;
  }
  50% {
    padding-left: 1.875rem;
  }
  100% {
    padding-left: 0.375rem;
  }
}


.btnn {
  position: relative;
  display: inline-block;
  z-index: 1001;
  margin-right: 3.125rem;
  margin-left: 3.125rem;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;	
  font-family: "montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 	
  width: 10.375rem;
  height: 2.813rem;
  font-size: 0.750rem;
  line-height: 2.813rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
	
}
.btnn svg {
  position: absolute;
  top: 0; left: 0; 
}
.btnn svg rect {
  stroke: #377D6A;
  stroke-width: 4;
  stroke-dasharray: 422, 0;
  stroke-dashoffset: 0;
  
  @include transition(all 900ms $ease-out-expo);
}
.btnn:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 110, 312;
  stroke-dashoffset: 172;
}

@media (min-width:320px)  { 
/*	 smartphones, iPhone, portrait 480x320 phones */
	
	
	#bodytext {
    top: 15em;
    width: 80%;
	}
    
	#title h2 {
		font-size: 2rem;
	}
	
	#title h3 {
		font-size: 0.938rem;
	}
	
	#bodytext h3 {
		font-size: 1rem;
	}
	#bodytext p {
		font-size: 0.8rem;
	}
	#bodytext #mailtext {
		font-size: 0.8rem;
	}
	
	.btnn {
		margin-right: 0.75rem;
	    margin-left: 0.75rem;
	    margin-top: 1rem;
	    margin-bottom: 0.5rem;
		width: 6rem;
		height: 1.5rem;
		font-size: 0.6rem;
	    line-height: 1.6rem;
	}
	
	.btnn svg rect {
		rx: 7;
		ry: 7;
		stroke-width: 3;
		stroke-dasharray: 100, 0;
		stroke-dashoffset: 0;
	}

	
	.row {
		top: 28em;
	}
	
	.row .bottom_text{
		font-size: 0.8rem;
	}
	.row span {
		margin: 0.8rem;
	}
	.row .gate {
		width: 7.1rem;
		height: 0.55rem;
  		padding: 0.625rem 0 0.625rem 0.938rem;
		text-indent: 2.6rem;
	}
	.gate + label {
		font-size: 0.5rem;	
		padding: 0.625rem 0.938rem;
	}
	
	
	span:nth-child(2) .gate {
  		text-indent: 2.6rem;
	}

    button {
	  font-size: 0.6rem;
	  line-height: 0.4rem;	
	  padding-right: 1.875rem;
	  height: 1.8rem;	
	  width: 8rem;
	}
	
	button svg {
		top: 0.3rem;
		right: 1.2rem;
		height: 1.3rem;
        margin: 0rem;
	}

}

/*
@media (min-width:481px)  { 
	 portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  
		body {
	  overflow: hidden;
	  background: #262b2e;
	  font-size: 45%;	
	}


}
*/

/*
@media (min-width:641px)  { 
	 portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  
		body {
	  overflow: hidden;
	  background: #262b2e;
	  font-size: 50%;	
	}

}
*/

/*
@media (min-width:961px)  { 
	 tablet, landscape iPad, lo-res laptops ands desktops 
	body {
	  overflow: hidden;
	  background: #262b2e;
	  font-size: 70%;	
	}

}
*/

/*
@media (min-width:1025px) { 
	 big landscape tablets, laptops, and desktops  
	body {
	  overflow: hidden;
	  background: #262b2e;
	  font-size: 75%;	
	}
}
*/


@media (min-width:1281px) { 
	
/*	 hi-res laptops and desktops  */
	
	#bodytext {
    top: 50%;
    width: 50%;
	}
    
	#title h2 {
		font-size: 2.813rem;
	}
	
	#title h3 {
		font-size: 1.563rem;
	}
	
	#bodytext h3 {
		font-size: 1.875rem;
	}
	#bodytext p {
		font-size: 1rem;
	}
	#bodytext #mailtext {
		font-size: 1rem;
	}
	
	.btnn {
		margin-right: 3.125rem;
  		margin-left: 3.125rem;
  		margin-top: 1.875rem;
  		margin-bottom: 3.125rem;
		width: 10.375rem;
  		height: 2.813rem;
  		font-size: 0.750rem;
  		line-height: 2.813rem;
	}
	
	.btnn svg rect {
		rx: 4;
		ry: 4;
		stroke-width: 2;
		stroke-dasharray: 422, 0;
		stroke-dashoffset: 0;
	}

	
	.row {
		top: 85%;
	}
	
	.row .bottom_text{
		font-size: 1rem;
	}
	.row span {
		margin: 1.875rem;
	}
	.row .gate {
		width: 14.375rem;
		height: 1.15rem;
  		padding: 0.625rem 0 0.625rem 0.938rem;
		text-indent: 4.063rem;
	}
	.gate + label {
		font-size: 1rem;	
		padding: 0.625rem 0.938rem;
	}
	
	
	span:nth-child(2) .gate {
  		text-indent: 5.313rem;
	}

    button {
	  font-size: 0.938rem;	
	  padding-right: 1.875rem;
	  height: 2.500rem;	
	  width: 12.500rem;
	}
	
	button svg {
		top: 0.563rem;
		right: 1.563rem;
		height: 1.563rem;
        margin: -0.125rem;
	}
}
